# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/

# Ignore logs
logs/

# Ignore dependencies lock files
yarn.lock
package-lock.json

# Ignore any other generated or temporary files
*.log
*.swp
*.swo
.DS_Store

.next/